@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@font-face {
  font-family: "Subspace";
  src: url("fonts/Subspace.woff2") format("woff2");
  src: url("fonts/Subspace.woff") format("woff");
}

@font-face {
  font-family: "Aveny";
  src: url("fonts/Aveny.woff2") format("woff2");
  src: url("fonts/Aveny.woff") format("woff");
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.rollable {
  font-weight: bold;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px black;
  font-weight: bolder;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to extincion sheets */
.extincion .item-form {
  font-family: "Roboto", sans-serif;
}

.extincion .label-input-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.extincion .grid_pc {
  display: grid;
  grid-template-columns: [first] 44px [title] 172px [main-stats] auto [endcol];
  grid-template-rows: [first] 10px [main-stats] 123px [exp-levels] 48px [abilities] 35px [life-adrenaline] 201px [talents-head] 2em [talents] 147px [items-head] 2em [items] auto [endrow];
  grid-gap: 0;
  margin: -8px;
}

.extincion .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: "Aveny";
  grid-column-start: 1;
  grid-row-start: 6;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 500px;
  font-size: 0.85em;
  padding-left: 3px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 32px;
}

.extincion .grande {
  margin-top: -32px;
  background-color: #000;
  font-family: "Subspace";
  color: #fff;
  font-size: 3em;
  height: 1.2em;
  justify-self: right;
  padding: 3px 15px 0px 5px;
  border: 1px solid black;
}

.extincion .sheet-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.extincion .header-picture-main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  -ms-flex-line-pack: center;
  align-content: center;
}

.extincion .header-fields {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.extincion .header-progression {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.extincion .header-abilities {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  padding-left: 10px;
  align-self: center;
  border-left: 1px solid;
}

.extincion .header-life {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-right: 1.25em;
  margin-left: 0.5em;
  grid-template-rows: 4em 8em;
}

.extincion .damage-label {
  margin-top: 1em;
}

.extincion h1 {
  font-size: 1.395em;
  font-family: "Aveny";
}

.extincion h1.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background-color: #000;
  color: #fff;
  margin: 0.2em;
  padding: 0.2em 0.4em 0em 0.4em;
}

.extincion h1.label.lbl-bkg {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.extincion .textarea-bkg {
  resize: none;
  width: 99%;
}

.extincion .label-input-nowrap {
  margin: 0 1em 0 0.5em;
}

.extincion h1.input {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin: 0;
  padding: 0;
  border: 0;
  height: 110%;
}

.extincion .talents {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  height: 100%;
  width: 95%;
  justify-self: center;
}

.extincion .sheet-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  background-color: #000;
  color: #fff;
}

.extincion .tab-item hover {
  color: white;
  text-shadow: 0 0 10px black;
  font-weight: bolder;
  cursor: pointer;
}

.extincion .item {
  -ms-flex-item-align: center;
  align-self: center;
}

.extincion .sheet-body {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  padding: 0 1em 0 1em;
}

.extincion .abilities {
  margin: 0px;
  row-gap: 0px;
  -webkit-column-gap: 6%;
  -moz-column-gap: 6%;
  column-gap: 6%;
  border: 1px solid #999;
  padding-left: 15px;
  padding-right: 0px;
}

.extincion .ability {
  border: none;
}

.extincion .ab {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 5px 0;
}

.extincion .ab-desc {
  justify-self: left;
  margin-right: 10px;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.extincion .ab-right {
  width: 3em;
  text-align: center;
  justify-self: right;
  margin-right: 0.5em;
}

.extincion img.profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100%;
  -ms-flex-item-align: center;
  align-self: center;
}

.extincion .big-icon {
  font-size: 3em;
  color: #000;
  margin-bottom: .2em;
}

.extincion .actor {
  width: 583px;
  height: 827px;
}

.extincion .tox .tox-editor-container {
  background: #fff;
}

.extincion .tox .tox-edit-area {
  padding: 0 8px;
}

.extincion .ab-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px gray solid;
  /* height: 1em; */
  margin: 0 0.6em 0 -.4em;
  font-size: .8em;
  min-width: 7em;
}

.extincion button.active {
  background: #000;
  color: #fff;
  border: #000;
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000;
}

.extincion button {
  width: 100%;
  color: grey;
  margin: 0 1px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0px;
  font-size: 13px;
  line-height: 28px;
  font-family: "robotto", sans-serif;
}

.extincion button:hover {
  -webkit-box-shadow: 0 0 10px BLACK;
  box-shadow: 0 0 10px BLACK;
}

.extincion button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px BLACK;
  box-shadow: 0 0 5px BLACK;
}

.extincion .resource-label {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}

.extincion .adrenaline-label {
  cursor: pointer;
}

.extincion .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.extincion .tabs .item {
  line-height: 40px;
  font-weight: bold;
  font-size: 2em;
}

.extincion .tabs .item.active {
  -webkit-text-decoration: double;
  text-decoration: double;
  text-shadow: 2px;
}

.extincion .biography {
  height: 15em;
}

.extincion .tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
  background-color: #000;
  font-family: Aveny;
  height: 1.75em;
  font-size: 1.2em;
  color: #fff;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.extincion ol.items-list {
  margin: 0;
}

.extincion .talents input[type="text"] {
  font-family: "Roboto", sans-serif;
}

.extincion .tab-item {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.extincion .tab-item.active {
  text-decoration: underline;
  text-shadow: none;
}

.extincion .sheet-body .tab .editor {
  height: 13em;
}

.extincion .itm-sht-tab {
  height: 13em;
}

.extincion .tabs .item {
  line-height: 40px;
  font-weight: bold;
  font-size: 2em;
  /* line-height: 40px; */
  /* font-weight: bold; */
  font-size: 1.2em;
  font-family: 'Aveny';
}

.extincion .progression {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  width: auto;
}

.extincion .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.extincion .items-list .item-header {
  font-weight: bold;
}

.extincion .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.extincion .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.extincion .items-list .item img {
  display: block;
}

.extincion .items-list .item-name {
  margin: 0;
}

.extincion .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

li.extincion-rolls.d20 {
  background-image: url(/icons/svg/d20-grey.svg);
}

li.extincion-rolls.d12 {
  background-image: url(/icons/svg/d12-grey.svg);
}

li.extincion-rolls.d10 {
  background-image: url(/icons/svg/d10-grey.svg);
}

li.extincion-rolls.d4 {
  background-image: url(/icons/svg/d4-grey.svg);
}

li.extincion-rolls.d8 {
  background-image: url(/icons/svg/d8-grey.svg);
}

li.extincion-rolls.d6 {
  background-image: url(/icons/svg/d6-grey.svg);
}

li.extincion-rolls {
  position: relative;
  width: 24px;
  line-height: 24px;
  float: left;
  margin-right: 1px;
  background-image: url(/icons/svg/d6-grey.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.sheet .actor {
  width: 583px;
  height: 827px;
}

#sidebar,
.-webkit-scrollbar-thumb,
.chat-message,
#chat-form {
  color: #44443a;
  background: #fff;
}

.window-content,
.window-app {
  color: #44443a !important;
  background: #fff !important;
}

.datausedice {
  min-width: 100%;
}

.item-usedice {
  margin: 0;
}

.item-weight {
  margin: 0;
}

.fas {
  margin-right: 5px;
}

.noborder {
  border: none;
}

.align-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.diceicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border: 0;
  padding: 0;
}

textarea {
  border: 1px #7a7971 solid;
  font-family: roboto;
}

#chat-form textarea {
  background: none;
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

#sidebar-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#sidebar-tabs > .item.active {
  -webkit-box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.05);
}

#chat-controls .roll-type-select {
  background: rgba(0, 0, 0, 0.05);
}

/*# sourceMappingURL=extincion.css.map */
