textarea {
    width: 100%;
    min-height: 50px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.05);
    /* border: 1px solid #000; */
    border-radius: 3px;
    font-family: roboto;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }