// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */

@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to extincion sheets */

.extincion {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/items';
}

@import 'components/dice';
.sheetpc {
  @import 'sheet/pc';
}

// *{
//    background-color: #ececec;
// }
.sheet .actor {
  // width: 650px;
  width: 583px;
  height: 827px;
}

#sidebar,
.-webkit-scrollbar-thumb,
.chat-message,
#chat-form {
  color: #44443a;
  background: $c-fore;
}

.item-flavor {
  font-size: medium;
  // font-weight: bold;
}

.item-flavor .text {
  margin: 0 0 0 0.25em;
}

.window-content,
.window-app {
  color: #44443a !important;
  background: $c-fore !important;
}

.datausedice {
  min-width: 100%;
}

.item-usedice {
  margin: 0;
}

.item-weight {
  margin: 0;
}

.fas {
  margin-right: 5px;
}

.noborder {
  border: none;
}

.align-bottom {
  align-self: flex-end;
}

.diceicon {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  border: 0;
  padding: 0;
}

// .window-app{
//   background: #ececec;
// }
textarea {
  border: 1px $c-border solid;
  font-family: roboto;
}

#chat-form textarea {
  background: none;
}

// Cambios base de foundry de rojo a gris
::-webkit-scrollbar-thumb {
  border: 1px solid $c-grey;
}

#sidebar-tabs {
  border-bottom: 1px solid $c-grey;
  box-shadow: 0 0 10px $c-grey;
}

#sidebar-tabs>.item.active {
  box-shadow: 0 0 6px inset $c-grey;
}

#chat-controls .roll-type-select {
  background: $c-grey;
}