@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap');
@font-face {
  font-family: "Subspace";
  src: url("fonts/Subspace.woff2") format("woff2");
  src: url("fonts/Subspace.woff") format("woff");
}

@font-face {
  font-family: "Aveny";
  src: url("fonts/Aveny.woff2") format("woff2");
  src: url("fonts/Aveny.woff") format("woff");
}

$font-primary: 'Roboto',
sans-serif;
$font-secondary: 'Roboto',
sans-serif;