.window-app {
  font-family: $font-primary;
  padding: 0;
}

.rollable {
  font-weight: bold;
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    font-weight: bolder;
    cursor: pointer;
  }
}