li.extincion-rolls.d20 {
  background-image: url(/icons/svg/d20-grey.svg);
}

li.extincion-rolls.d12 {
  background-image: url(/icons/svg/d12-grey.svg);
}

li.extincion-rolls.d10 {
  background-image: url(/icons/svg/d10-grey.svg);
}

li.extincion-rolls.d4 {
  background-image: url(/icons/svg/d4-grey.svg);
}

li.extincion-rolls.d8 {
  background-image: url(/icons/svg/d8-grey.svg);
}

li.extincion-rolls.d6 {
  background-image: url(/icons/svg/d6-grey.svg);
}

li.extincion-rolls {
  position: relative;
  width: 24px;
  line-height: 24px;
  float: left;
  margin-right: 1px;
  background-image: url(/icons/svg/d6-grey.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: center;
}