.item-form {
  font-family: $font-primary;
}

.label-input-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
}

.grid_pc {
  display: grid;
  grid-template-columns: [first] 44px [title] 216px-44px [main-stats] auto [endcol];
  grid-template-rows: [first] 10px [main-stats] 123px [exp-levels] 48px [abilities] 35px [life-adrenaline] 201px [talents-head] 2em [talents] 147px [items-head] 2em [items] auto [endrow];
  grid-gap: 0;
  margin: -8px;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Aveny";
  grid-column-start: 1;
  grid-row-start: 6;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  width: 500px;
  font-size: 0.85em;
  padding-left: 3px;
  justify-content: flex-start;
  margin-left: 32px;
}

.grande {
  margin-top: -32px;
  background-color: $c-black;
  font-family: "Subspace";
  color: $c-fore;
  font-size: 3em;
  height: 1.2em;
  justify-self: right;
  padding: 3px 15px 0px 5px;
  border: 1px solid black;
}

.sheet-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.header-picture-main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  //   border: 1px solid;
  align-content: center;
}

.header-fields {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.header-progression {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.header-abilities {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  padding-left: 10px;
  align-self: center;
  border-left: 1px solid;
}

.header-life {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-right: 1.25em;
  margin-left: 0.5em;
  grid-template-rows: 4em 8em;
}

.damage-label {
  margin-top: 1em;
}

h1 {
  font-size: 1.395em;
  font-family: "Aveny";
}

h1.label {
  display: flex;
  // font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  //   padding: 0.2em;
  background-color: $c-black;
  color: $c-fore;
  margin: 0.2em;
  padding: 0.2em 0.4em 0em 0.4em;
}

h1.label.lbl-bkg {
  align-self: flex-start;
}

.textarea-bkg {
  resize: none;
  width: 99%;
}

.label-input-nowrap {
  margin: 0 1em 0 0.5em;
}

h1.input {
  flex-grow: 2;
  margin: 0;
  padding: 0;
  border: 0;
  height: 110%;
}

// .damage-div {
//   // grid-column-end: 3;
//   // grid-column-start: 1;
// }
.talents {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
  height: 100%;
  width: 95%;
  justify-self: center;
}

.sheet-tabs {
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  flex: 0;
  background-color: $c-black;
  color: $c-fore;
}

.tab-item {
  hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px red;
    font-weight: bolder;
    cursor: pointer;
  }
}

.item {
  align-self: center;
}

.sheet-body {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
  padding: 0 1em 0 1em;
}

.abilities {
  margin: 0px;
  row-gap: 0px;
  column-gap: 6%;
  border: 1px solid #999;
  padding-left: 15px;
  padding-right: 0px;
}

.ability {
  border: none;
}

.ab {
  align-items: center;
  column-gap: 0;
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 5px 0;
}

.ab-desc {
  justify-self: left;
  margin-right: 10px;
  column-gap: 0;
  justify-items: center;
  align-items: center;
}

.ab-right {
  width: 3em;
  text-align: center;
  justify-self: right;
  margin-right: 0.5em;
}

img.profile-img {
  -webkit-box-flex: 0;
  flex: 0 0 100px;
  height: 100%;
  align-self: center;
}

.big-icon {
  font-size: 3em;
  color: $c-black;
  margin-bottom: .2em;
}

// *{
//    background-color: #ececec;
// }
.actor {
  // width: 650px;
  width: 583px;
  height: 827px;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }
  .tox-edit-area {
    padding: 0 8px;
  }
}

.ab-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 1em; */
  margin: 0 0.6em 0 -.4em;
  font-size: .8em;
  min-width: 7em;
}

button.active {
  background: $c-black;
  color: $c-white;
  border: $c-black;
  box-shadow: 0 0 8px $c-black;
}